@charset "utf-8";
.wrapper {
  width: 60%;
  margin: 0 auto;
}
.wrapper::after {
  display: block;
  clear: both;
  content: '';
}
.main-district {
  float: left;
  width: 15%;
  background-color: #eee;
}
.main-district--name {
  cursor: pointer;
}
.main-district--name--checked {
  font-weight: 600;
  color: #2d98da;
}
.main-district--number {
  margin-left: 0.3rem;
  padding-right: 0.5rem;
  font-weight: 500;
  color: #20bf6b;
}
.sub-district {
  text-indent: 1rem;
}
.sub-district--unchecked {
  display: none;
}
.sub-district--list {
  text-indent: 1rem;
  cursor: pointer;
}
.sub-district--list--checked {
  font-weight: 500;
  color: #fa8231;
}
.record {
  float: left;
  width: 15%;
  height: 200px;
  background-color: #000;
}
.roulette {
  float: left;
  width: 70%;
}
.roulette--canvas {
  display: block;
  background-color: #d1d8e0;
}
.roulette--button {
  width: 100%;
  background-color: #3867d6;
  color: #fff;
  font-size: 2rem;
  line-height: 2;
  cursor: pointer;
}
.roulette--button-start {
}
